body{ 
    font-family: Tahoma; 
    background-color: #37bd95; 
}

h1, h2, h3, h4{ 
    color: rgb(180, 45, 128);  
    font-weight: bold;
}

h2{ 
    font-family: 'Georgia', serif; 
    margin: 0; 
}

h2{ 
    font-size: 1.2em; 
}

p{ 
    color: #BEA42E;
}

a{
    text-decoration: none; 
    color:#AB3E16; 
    font-size: .75em;
}

.pane {
    position:absolute;  
    left: 40%;
    top: 15%;
    border: 5px solid rgb(197, 194, 194); 
    opacity: 0.95;
    filter: alpha(opacity=60);
    border-radius: 5px; 
    padding: 20px; 
    padding-top: 5px; 
    margin: 2px; 
    border-color: #b6b3b3; 
    background-color: #ffffff; 
}

.header{
    left:50%; 
    text-align: center;
}

.name {
    float: left;
    width:50%;
}

.price {
    text-align: right; 
    width:50%; 
    float: right; 
}

.flash{
    position: relative;
    text-align: center;
    background: rgb(206, 51, 147); 
    list-style: none;
    height: 40px;
}

button {
    position: relative;
    left: 40vw;
    color: #ffffff;
    background: #bd3781;
    width: 240px;
    height: 40px;
}

button:hover {
    background: rgb(99, 190, 46);
}